/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: rgb(198, 240, 226);
    width: 60%;
    margin: 20px auto;
    border-radius: 5px;
}

/* HEADER */

.header-top {
    height: 80px;
    line-height: 80px;
}

#logo {
    height: 60px;
    vertical-align: middle;
}

#span-logo{
    font-size: 3rem;
    vertical-align: middle;
}

.header-bottom {
    margin-top: 50px;
    margin-left: 20%;
}

#button1{
    border-radius: 4px;
    background-color: #47adf1;
    border: none;
    padding: 10px 20px;
    color: white;
}

#button2{
    border-radius: 4px;
    border: 0.5px solid grey;
    padding: 10px 20px;
    color: grey;
}

/* MAIN */

ul {
    margin: 20px;
    list-style-type: none;
}

li{
    margin-top: 10px;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}

.check {
    display: inline-block;
    border: solid green;
    color: green;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.cross{
    display: inline-block;
    border: solid red;
    color: red;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;

}


