/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: aquamarine;
}

/* HEADER */

header {
    border: 1px solid black;
}


.header-top {
    height: 80px;
    line-height: 80px;
}

#logo {
    height: 60px;
    vertical-align: middle;
}

span {
    font-size: 3rem;
    vertical-align: middle;
}

.header-bottom {
    margin-top: 50px;
    margin-left: 20%;
}

#button1{
    border-radius: 4px;
    background-color: #47adf1;
    border: none;
    padding: 10px 20px;
    color: white;
}

#button2{
    border-radius: 4px;
    border: 0.5px solid grey;
    padding: 10px 20px;
    color: grey;
}
