/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: rgba(173, 234, 253, 0.336);
    width: 70%;
    margin: 20px auto;
    border-radius: 5px;
}

/* HEADER */

.header-top {
    height: 80px;
    line-height: 80px;
}

#logo {
    height: 60px;
    vertical-align: middle;
}

#span-logo{
    font-size: 3rem;
    vertical-align: middle;
}

.header-bottom {
    margin-top: 50px;
    margin-left: 15%;
}

.shape-button{
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    color: white;
}

.button1{
    background-color: #47adf1;
    border: none;
    padding: 10px 20px;
    color: white;
}

.button2{
    border: 0.5px solid grey;
    color: grey;
}

/* MAIN */

ul {
    margin: 20px;
    list-style-type: none;
}

li{
    margin-top: 10px;
    font-weight: bold;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.check{
    border: solid green;
    color: green;
}

.cross{
    border: solid red;
    color: red;
}

.bg-round{
    border-radius: 30px;
    color: white;
    padding: 4px ;
    margin-left: 5px;
    font-size: 0.8rem;
    font-weight: lighter;
}

.bg-violet{
    background-color: blueviolet;
}

.bg-blue{
    background-color: #47adf1;
}

.bg-aqua {
    background-color: aqua;
}

.bg-orange{
    background-color: orange;
}

.bg-pink{
    background-color: pink;
}

.bg-lime{
    background-color: lime;
}


